.splash-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff; /* clean background */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.splash-animation {
  width: 300px;
  height: 300px;
}

.splash-text {
  margin-top: 20px;
  font-size: 2rem;
  font-weight: bold;
  color: #000; /* SEHAT black */
}

.splash-text .accent {
  color: #ff0000; /* ambulance red accent */
}
